@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&family=Open+Sans:wght@300;400;700&family=Press+Start+2P&display=swap');

* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}

:root {
    --bgd-color1: #000000;
    --bgd-color2: #ffd000;
    --hover-color: #fbff00;
    --text-color1: #FFFFFF;
    --text-color2: #000000;
    --border-color: #000000;

    --text:'Press Start 2P', cursive;
}

html {
    overflow-x:hidden;
    overflow-y:hidden;
}

body {
    font-size: 12px;
    font-family: var(--text)
}

.menu {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0.2rem;
    width: auto;
    height: 11vh;
    background: linear-gradient(var(--bgd-color1), var(--bgd-color2) 90%, var(--bgd-color1));
}

.btn-li {
    border: 0.1rem solid var(--border-color);
    border-radius: 4px;
    padding: 0.7rem;
    background: var(--bgd-color2);
}

.btn-li:hover {
    background: var(--hover-color);
    transform: scale(1.2);
}

.btn-a {
    color: var(--text-color2);
}

.container {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: var(--text-color2);
    background: linear-gradient(30deg, var(--bgd-color1), var(--bgd-color2) 50%, var(--bgd-color1));
}

.logo-7days {
    animation: slideout 5s ease-in-out both;
}

.titulo-principal {
    font-size: 1.5rem;
    padding: 2rem;
}

.titulo-principal:hover {
    background-color: var(--hover-color);
    border-radius: 10px;
    transform: scale(1.1);
    border: 0.1rem solid var(--border-color);
}

.texto-principal {
    font-size: 1rem;
    padding: 1rem;
}

.link-desafio {
    color: var(--text-color2);
}

.link-rafa {
    color: var(--text-color2);
}

.link-desafio:hover {
    background-color: var(--hover-color);
    border-radius: 10px;
    padding: 1rem;
    border: 0.1rem solid var(--border-color);
}

.link-rafa:hover {
    background-color: var(--hover-color);
    border-radius: 10px;
    padding: 1rem;
    border: 0.1rem solid var(--border-color);
}

@keyframes slideout {
    0% {
        width: 0%;
      }
    
    25% {
        width: 25%;
      }

    50% {
        width: 50%;
      }

    75% {
          width: 60%;
        }
      
    100% {
        width: 359px;
      }

}
